*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}


header{
    padding: 50px;;
    background-color: #29abfe;
    align-items: center;
    display: flex;
    justify-content: center;
}


header i{
    font-size: 40px;
    margin-right: 3em;
    background-color: #86c1f9;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    margin-right: 30px;
    font-size: 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 4px black;
    
    
}

nav ul li a:hover{
    transition: 08.s;
    color: blue;
}

div h2{
    text-align: center;
    margin-top: 40px;
    background-color: #3fc6f3;
    padding: 30px;
    color: white;
    text-shadow: 4px 4px 4px black;

}

.home2 h2{
    text-align: center;
    margin-top: 40px;
    background-color: #1fbdff;
    padding: 30px;
    color: white;
    text-shadow: 4px 4px 4px black;

}


.home3 p{
    margin-top: 20px;
    text-align: center;
    background-color: #9af0fa;
    padding: 80px;
    font-size: 20px;
}

.home4 h2{
    text-align: center;
    margin-top: 50px;
    background-color: #1fbdff;
    padding: 30px;
    color: white;
    text-shadow: 4px 4px 4px black;
}


.home4 p{
    margin-top: 40px;
 text-align: center;
 background-color: #9af0fa;
 padding: 80px;
 font-size: 20px;
}

.home5 h2{
    margin-top: 40px;
    text-align: center;
    background-color: #1fbdff;
    padding: 30px;
    color: white;
    text-shadow: 4px 4px 4px black;
}

div{
    background-color: #9af0fa;
    
    
}
    

.div1{
    width: 280px;
    height: 250px;
    background-color: #73a7fa;
    color:black;
    margin-left: 500px;
    text-align: center;
    box-shadow: 4px 4px 4px black;
    border-radius: 20px;
    color: white;

}

.div1{
 border-radius: 20px;
 margin-top: 20px;
}

.div2{
    width: 280px;
    height: 250px;
    background-color: #73a7fa;
    color:black;
    margin-left: 500px;
    text-align: center;
    box-shadow: 4px 4px 4px black;
    border-radius: 20px;
    color: white;

}

.div3{
    width: 280px;
    height: 250px;
    background-color: #73a7fa;
    color:black;
    margin-left: 500px;
    text-align: center;
    box-shadow: 4px 4px 4px black;
    border-radius: 20px;
    color: white;

}

.div4{
    width: 280px;
    height: 250px;
    background-color: #73a7fa;
    color:black;
    margin-left: 500px;
    text-align: center;
    box-shadow: 4px 4px 4px black;
    border-radius: 20px;
    color: white;

}



.div5{
    width: 280px;
    height: 250px;
    background-color: #73a7fa;
    color:black;
    margin-left: 500px;
    text-align: center;
    box-shadow: 4px 4px 4px black;
    border-radius: 20px;
    color: white;

}

.menu hr{
    height: 1px;
    width: 50%;
    margin-top: 40px;
    margin: 46px auto;
    background-color: black;
    
}

.div6{
    
        width: 280px;
        height: 250px;
        background-color: #73a7fa;
        color:black;
        margin-left: 500px;
        text-align: center;
        box-shadow: 4px 4px 4px black;
        border-radius: 20px;
        color: white;
    
    
     
}

    
.div7{
    
    width: 280px;
    height: 250px;
    background-color: #73a7fa;
    color:black;
    margin-left: 500px;
    text-align: center;
    box-shadow: 4px 4px 4px black;
    border-radius: 20px;
    color: white;


 
}
.div8{
    
    width: 280px;
    height: 250px;
    background-color: #73a7fa;
    color:black;
    margin-left: 500px;
    text-align: center;
    box-shadow: 4px 4px 4px black;
    border-radius: 20px;
    color: white;


 
}

.div9{
    
    width: 280px;
    height: 250px;
    background-color: #73a7fa;
    color:black;
    margin-left: 500px;
    text-align: center;
    box-shadow: 4px 4px 4px black;
    border-radius: 20px;
    color: white;


 
}

.div10{
    
    width: 280px;
    height: 250px;
    background-color: #73a7fa;
    color:black;
    margin-left: 500px;
    text-align: center;
    box-shadow: 4px 4px 4px black;
    border-radius: 20px;
    color: white;
 }

.home6 button{
border-radius: 30px;
margin-top: 40px;
padding: 15px;
font-size: 15px;
color:white;
background-color: #458cde;
box-shadow: 4 px 4px 4px black;
margin-left: 550px;
}

.home6 button:hover{
    transition: 0.8;
    color: #458cde;
    background-color: black;
}
 

footer{
    margin-top: 20px;
    text-align: center;
    background-color: #458cde;
    color: white;
    padding: 15px;
    font-size: 30px;
}
    
    footer i{
        font-size: 30px;
        background-color: gray;
        box-shadow: 4px 4px 4px black;
        margin: 20px;
    }
.div1 h2{
    border-radius: 20px;
}
    
    .div2 h2{
        border-radius: 20px;
    }

    .div3 h2{
        border-radius: 20px;
    }

    .div4 h2{
        border-radius: 20px;
    }

    .div5 h2{
        border-radius: 20px;
    }

    .div6 h2{
        border-radius: 20px;
    }

    .div7 h2{
        border-radius: 20px;
    }

    .div8 h2{
        border-radius: 20px;
    }

    .div9 h2{
        border-radius: 20px;
    }

    .div10 h2{
        border-radius: 20px;
    }